{% extends 'MainTemplate.twig' %}
{% block title %}Rapport des Contact{% endblock %}
{% block content %}
<div class="container">
<table border="1" cellpadding="10" cellspacing="1" width="100%">
    <tr>
        <th width="5%">id</th>
        <th width="10%">Nom</th>
        <th width="10%">Sujet</th>
        <th width="10%">Email</th>
        <th width="10%">Date</th>
        <th width="5%">Heure</th>
        <th width="55%">Description</th>
        <th width="5%"></th>
    </tr>
    {% for erreur in erreurs %}
    <tr>
        <td>{{ erreur.id }}</td>
        <td>{{ erreur.nom }}</td>
        <td>{{ erreur.sujet }}</td>
        <td> {{ erreur.email }}</td>
        <td>{{ erreur.date }}</td>
        <td> {{ erreur.heure }} </td>
        <td> {{ erreur.description }} </td>
        <td>
            <form method="post" action="Index.php?action=suprimerErreur">
                <input type="text" style="display: none" name="id" value="{{ erreur.id }}"/>
                <input type="submit" value="-"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}